<p><%= @payment.fullname %> Faced following error while making payment to the campaign "<%= @payment.campaign.name %>".</p>
<p>Reach out him by email: <%= @payment.email %>.</p>
<p>The error description is: <%= @payment.address_one %></p>