<div id="footer">
  <div class="privacy_div">
    <p class="center">© <%= @settings.copyright_text %> | <a target="_blank" href="http://open.crowdtilt.com/privacy">Privacy Policy</a></p>
  </div>
</div>
