<div id="footer">
  <div class="privacy_div">
    <p class="center">© <%= @settings.copyright_text %> | <a target="_blank" href="http://corp.altheahealth.com/?page_id=35890">Privacy Policy</a></p>
  </div>
</div>
